* {
  margin: 0;
  max-width: auto;
  max-height: auto;
}

#browse-head {
  font-family: "Single Day", cursive;
  color: #72db73;
  font-size: 40px;
  margin-left: 5vw;
}

#browse-para {
  color: white;
  font-family: 'Roboto',sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.608px;
  margin-left: 7vw;
  margin-top: 20px;
}
.titles{
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}
#genre-title{
    margin-left: 10vw;
    color: #878787;
    font-family: 'Roboto',sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 200;
    letter-spacing: 0.6px;
    padding: 20px 20px;
}

.movies{
    display: flex;
    flex-wrap: wrap;
    margin-left: 7vw;
}


#poster{
   margin-left: 20px;
   margin-right: 20px;
  }
  
  #movie-poster{
    height:60%;
    width: 100%;
    border-radius: 10px; 
}

#homepage-btn{
  background-color: #148A08;
  width: 130px;
  margin-left: 85vw;
  margin-bottom: 20px;
}